PORT=5000
MONGO_URI=mongodb://localhost:27017/streamvault
JWT_SECRET=your_jwt_secret

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

ANTHROPIC_API_KEY=your_anthropic_api_key

CLIENT_URL=http://localhost:5173
NODE_ENV=development